## User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

## MacOS
.DS_Store

## Secrets
Secrets.xcconfig
*.secrets.plist
Config.plist
*.pem
*.p8

## Build artifacts
build/
DerivedData/
.build/
